body {
  background-color: #1c1b21 !important;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.icon-legend{
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: white;
}

.loading{
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: calc(28vw * 0.75);
  max-height: 15vh;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  margin: 5px;
}
.search-field {
  display: flex;
  /*  position: absolute;*/
  right: 0;
}
.search-field input,
select {
  margin-left: 2em;
  margin-right: 2em;
}
.hint-dropdown {
  color: gray;
  font-size: 0.8em;
  display: "";
}

.iconContainer > .iconWrapper > i{
  position: absolute;
  left: 2%;
}
.iconContainer > .iconWrapper > i{
  position: absolute;
  left: 2%;
}
/*Re-name mainContainer*/
.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: left;
}
.mainContainer p {
  padding: 0;
  margin: 0;
  text-align: left;
}
.heading {
  display: flex;
}
.heading h1 {
  margin-left: 5vw;
  font-size: 20px;
}
.locationList {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}
.locationTile {
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: calc(28vw * 0.75);
  max-height: 15vh;
  position: relative;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
  margin: 5px;
}
.cityStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 55%;
  height: 45%;
  color: rgb(255, 255, 255);
  background-color: #fd4646; /*Failing Condition*/
  /*background-color: #73ffd2; Good Condition**/
  border-radius: 0.3em;
}

/*Calendar Graph Can*/
.js-rollingcalendar {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 32px 1px 32px 32px;
  display: none;
  /*display: inline-block*/
}

.service__features {
  display: block;
}

.js-rollingcalendar h1 {
  font-family: "proxima-nova", "proxima nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #5d5d5d;

  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12px;
}

.js-rollingcalendar h2 {
  font-family: "proxima-nova", "proxima nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #abadac;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12px;
}
.rolling-calendar {
  position: relative;
}

.response_time_grid {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  border-top: solid 2px orange;
  background-color: black;
  margin: 0;
  padding: 0;
  width: max-content;
}
/*--- Response Time Grid---*/
.item {
  background-color: greenyellow;
  margin-right: 1px;
  width: 15px;
  height: 25px;
  padding: 0px;
/*  border-top: solid orange 3px;*/

}
.item + .last{
  margin-right: 0;
}
.var-dark{
  background-color: #23242b !important;
}
.first{
  border-left: none;
}
.last{
  border-right: none;
}
#cityDropDown{
  margin: 10px;
}
.table-success > td > .resptime_grid::before{
  position: absolute;
  content: "";
  top: -55px;
  width: 250px;
  height: 50px;
  background-color: rgb(177, 177, 177);
  border-radius: 3px;
  display: none;
}
.item_message{
  position: absolute;
  display: flex;
  top: -12px;
  align-items: center;
  left: -50px;
  filter: drop-shadow(1px 4px 0.2rem crimson);

}
.innerMessage{
  border: 1px black; 
  background-color: orange;
  height: 50px;
  width: max-content;
  z-index: 9;
  padding: 10px;
  border-radius: 0.1em;
}
.triangleShape{
  width: 0;
  height: 0;
  border-top: 7.5px solid transparent;
  border-left: 15px solid orange;
  border-bottom: 7.5px solid transparent;
  z-index: 9;
}
.iconWrapper{
  position: relative;
}
.iconWrapper > .iconStatus{
  display: flex;
  position: absolute;
  left: 35%;
    justify-content: center;
    
}
.iconStatus{
  color: #fff;
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-left: 0px;
  left: 0;
  border: 2px solid;
  line-height: 26px;
    left: 4px;
}
.icon-danger{
  text-shadow: 1.2px 1.2px #8c0224;
  border-color: #8c0224;
  background-color: #da0000;
}
.icon-danger::before{
  font-family: "FontAwesome";
  position: absolute;
  left: 4px;
  content: "\2716";
}
.icon-warning{
  text-shadow: 1.2px 1.2px #7f5b06;
  border-color: #7f5b06;
  background-color: #f9b302;
}
.icon-warning::before{
  font-family: "FontAwesome";
  position: absolute;
  left: 4px;
  content: "\2755";
}
.icon-check{
  text-shadow: 1.2px 1.2px #155d3b;
  border-color: #155d3b;
  background-color: #28b06f;
}
.icon-check::before{
  font-family: "FontAwesome";
  position: absolute;
  left: 5px;
  content: "\2714";
}

.fa-check:before {
  content: "\f00c";
}
.alertItem{
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset, rgb(0 0 0 / 24%) 0px 3px 8px;

}
.alertItem > p{
  margin: 0;
  padding: 0;
  
}
.count-text{
  display: flex;
  flex-direction: row;
}
.count-text > p:nth-child(2){
  margin-left: 5px;
  font-weight: bolder;
}
.alertItem{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  color:  white;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  background-color: rgb(245, 36, 88);
  /*background-color: rgb(245, 182, 36);*/
  border-radius: .5em;
}
.incidentLog-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  flex-direction: row;
}
/*Phone*/
@media only screen and (min-width: 320px) {
  .search-field {
    flex-wrap: wrap;
  }
  .locationList {
    width: 100vw;
  }
  .locationTile {
    
    height: 15vh;
    font-size: 0.75em;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  .locationList {
    width: 80vw;
  }
  .locationTile {
    
    font-size: 1em;
  }
}
/*Desktop*/
@media only screen and (min-width: 1200px) {
  .locationList {
    width: 60vw;
  }
  .locationTile {
    font-style: 1.2em;
  }
}
/* 
@media only screen and (min-width: 1600px) {
}
*/
